* { /*Stlye for the whole page */
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: lightskyblue;
  }
  button { /*Style for the button */
    background-color: rgb(245, 77, 35);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
  }
  #placeholder { /*Style for the field where the number prints */
    height: 100px;
    width: 100px;
    padding: 50px;
    margin: 150px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:80px;
    background-color: antiquewhite;
  }